html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: antiquewhite;
  padding: 1rem;
}

button {
  padding: 2rem;
}

button[type=submit] {
  margin-top: 1rem;
}

code {
  display: block;
  margin-bottom: 2rem;
}

input {
  padding: 1rem;
}